@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: #0e2a47;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.inputStyle {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.inputStyle:focus {

  border-color: rgba(205, 89, 17, 0.848);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

.insta {
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.website {
  background: #33f0f0;
  background: -moz-linear-gradient(45deg, #33edf0 0%, #3cb6e6 25%, #278bdc 50%, #2353cc 75%, #8018bc 100%);
  background: -webkit-linear-gradient(45deg, #33edf0 0%, #3cb6e6 25%, #278bdc 50%, #2353cc 75%, #8018bc 100%);
  background: linear-gradient(45deg, #33edf0 0%, #3cb6e6 25%, #278bdc 50%, #2353cc 75%, #8018bc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.discord {
  background: #5865F2;
  background: -moz-linear-gradient(45deg, #5865F2 0%, #404EED 100%);
  background: -webkit-linear-gradient(45deg, #5865F2 0%, #404EED 100%);
  background: linear-gradient(45deg, #5865F2 0%, #404EED 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.linkedin {
  background: #0077b5;
  background: -moz-linear-gradient(45deg, #0077b5 0%, #00a0dc 100%);
  background: -webkit-linear-gradient(45deg, #0077b5 0%, #00a0dc 100%);
  background: linear-gradient(45deg, #0077b5 0%, #00a0dc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.wp {
  background: #2db500;
  background: -moz-linear-gradient(45deg, #00b527 0%, #00dc28 100%);
  background: -webkit-linear-gradient(45deg, #00b527 0%, #00dc28 100%);
  background: linear-gradient(45deg, #00b527 0%, #00dc28 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.download {
  width: 50%;
  margin: auto;
  background: #0077b5;
  background: -moz-linear-gradient(45deg, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
  background: -webkit-linear-gradient(45deg, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
  background: linear-gradient(45deg, #02AAB0 0%, #00CDAC 51%, #02AAB0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}